*{
    padding: 0%;
    margin: 0%;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    background-color: lightgray;
}

.mainDiv{
    height: 350px;
    width: 480px;
    top: 50%;
    left: 50%; 
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #4a5c6a;
    color: black;
    padding: 30px;
    margin: auto;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
}

.header{
    font-weight: bolder;
    font-size: 45px;
    padding: 15px;
    color: white;
    
}

.usernameDiv{
    width: 100%;
    padding: 10px;
    margin: auto;
}

#username{
    height: 40px;
    width: 300px;
    padding: 1rem;
    border-radius: 30px;
    
}

.passwordDiv{
    width: 100%;
    padding: 10px;
    margin: auto;
}

#password{
    height: 40px;
    width: 300px;
    padding: 1rem;
    border-radius: 30px;
}

#button{
    width: 300px;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    background-color: #11212d; 
}

.loginbtn{
    width: 100%;
    padding: 10px;
    margin: auto;
}

#fp{
    color: white;
    font-size: 12px;
    text-decoration: none;
}


#su{
    color: white;
    font-size: 12px;
    padding-top: 5rem;
}

p a{
    color: white;
}